.fish-container {
  padding: 0.8rem 0;
  section {
    width: 60%;
    margin: 0 auto;
    border: 5px solid #8b4513;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #3e2723;
    text-align: center;

    background: url("../images/scroll.jpg") no-repeat center center / cover;
    text-align: center;
    text-wrap: balance;
    z-index:-1;

    h1,
    p {
      text-wrap: balance;
      text-align: center;
    }

    h1 {
      font-size: clamp(1rem, 10vw, 5rem);
      margin-bottom: 0.5em;
    }

    p {
      font-size: clamp(0.8rem, 5vw, 2rem);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    img {
      animation: appear linear;
      animation-timeline: view();
      animation-range: entry 0% cover 18%;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
