@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
footer {
  min-height: 5rem;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 1rem;
  margin-top: auto;
}
footer .youtube-channel {
  background: rgba(0, 0, 0, 0.5);
}
footer .youtube-channel a {
  -webkit-text-fill-color: transparent;
  color: transparent;
  background: linear-gradient(to right, #4285f4, #db4437, #f4b400, #0f9d58);
  -webkit-background-clip: text;
          background-clip: text;
  font-size: larger;
}
footer .youtube-channel a:hover {
  -webkit-text-fill-color: wheat;
}

.fish-container {
  padding: 0.8rem 0;
}
.fish-container section {
  width: 60%;
  margin: 0 auto;
  border: 5px solid #8b4513;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: #3e2723;
  text-align: center;
  background: url("../images/scroll.jpg") no-repeat center center/cover;
  text-align: center;
  text-wrap: balance;
}
.fish-container section h1,
.fish-container section p {
  text-wrap: balance;
  text-align: center;
}
.fish-container section h1 {
  font-size: clamp(1rem, 10vw, 5rem);
  margin-bottom: 0.5em;
}
.fish-container section p {
  font-size: clamp(0.8rem, 5vw, 2rem);
}
.fish-container section h1,
.fish-container section h2,
.fish-container section h3,
.fish-container section h4,
.fish-container section h5,
.fish-container section h6,
.fish-container section p,
.fish-container section img {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 18%;
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-clip-path: inset(100% 100% 0 0);
            clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@media (width <= 650px) {
  header {
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header nav {
    min-width: 100%;
    position: relative;
    overflow-x: clip;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav .logo {
    width: 100%;
    z-index: 30;
  }
  header nav .logo img {
    padding-left: 3rem;
    width: clamp(8rem, 25vw, 20rem);
    filter: grayscale(1) invert(1);
  }
  header nav .toggle-links {
    z-index: 9;
    color: white;
    font-size: clamp(1rem, 10vw, 3rem);
    margin-right: 5rem;
    font-family: system-ui;
    cursor: pointer;
  }
  header nav .nav-links {
    min-width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100svh;
    top: 0;
    padding: 10rem 0;
    text-align: center;
    transition: right 0.5s ease-in-out;
  }
  header nav .nav-links .link-item {
    min-width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav .nav-links .link-item a {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 60%;
    border-radius: 0.5rem;
  }
  .fish-container section {
    margin-bottom: 0.4rem;
  }
  .fish-container section h1 {
    font-size: clamp(30px, 10vw, 50px);
  }
  .fish-container section img {
    width: clamp(5rem, 40vw, 15rem);
  }
  .fish-container #videos .videos {
    max-width: 95%;
  }
  .fish-container #videos .videos .item {
    width: clamp(100px, 60vw, 100%);
  }
  .fish-container #videos .videos .item iframe {
    width: clamp(100px, 60vw, 100%);
  }
}
@media (width > 650px) {
  header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  header nav .logo {
    margin-left: 5rem;
  }
  header nav .logo #logo {
    width: 10rem;
    filter: grayscale(1) invert(1);
    transition: all 0.5s ease-in-out;
  }
  header nav .logo #logo:hover {
    filter: grayscale(0) invert(0) drop-shadow(8px 8px 12px #9d2d35);
  }
  header nav .toggle-links {
    display: none;
  }
  header nav .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.5rem;
    margin-right: clamp(2rem, 10vw, 10rem);
    gap: 1rem;
  }
  header nav .nav-links .link-item {
    width: 100%;
  }
  header nav .nav-links .link-item:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
  }
  header nav .nav-links .link-item a {
    background-color: rgba(173, 216, 230, 0.4);
    border-radius: 10px;
    color: white;
    font-size: clamp(1rem, 4vw, 2.5rem);
    padding: 0 1rem;
    position: relative;
    width: 100%;
    text-align: center;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }
  header nav .nav-links .link-item a:hover {
    color: #734002;
  }
  header nav .nav-links .link-item a::before, header nav .nav-links .link-item a::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: hsla(0, 0%, 2%, 0.2);
    border-radius: 100%;
  }
  header nav .nav-links .link-item a::before {
    top: 0px;
    left: 10px;
  }
  header nav .nav-links .link-item a::after {
    bottom: 0px;
    right: 10px;
  }
  .fish-container #hero #mangrove-snapper {
    padding-top: 0.5rem;
    width: 18rem;
  }
  .fish-container #family {
    width: clamp(10rem, 50svw, 50rem);
  }
  .fish-container #youtube-links .video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow-x: clip;
    gap: 0.5rem;
  }
  .fish-container #youtube-links .video-container .card-container {
    background-color: transparent;
  }
  .fish-container #youtube-links .video-container .card-container .card-title {
    margin-bottom: 0.4rem;
  }
  .fish-container #youtube-links .video-container .card-container .card-image a img {
    width: 15rem;
    background-color: black;
  }
  .fish-container section {
    margin-bottom: 2rem;
  }
  .fish-container section .paragraph-container {
    display: grid;
    gap: 15px; /* Space between paragraphs */
    grid-template-columns: 1fr;
  }
  .fish-container section p {
    text-align: justify; /* Ensures even alignment of text */
    font-size: 2em;
    line-height: 1.6;
    color: black;
  }
  .fish-container section p::before {
    content: "";
    margin-left: 2rem;
  }
}
.goToTop {
  display: none;
  width: 50px;
  height: 50px;
  font-size: larger;
  text-transform: capitalize;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  padding: 0.4rem;
  line-height: 2em;
  border-radius: 1000000000%;
  cursor: pointer;
}

.show {
  display: block;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pirata One", cursive;
  background: center/cover fixed no-repeat url("../images/bgfish.webp");
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}